
<!--
Author: Devesh  Gurusinghe 
Desc  : This page is the layout for sold events
-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/bootstrap.min.css" rel="stylesheet" />
        <title>Sold Events Page</title>

        <style>
            .text-gradient {
                background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        </style>
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">

            <!-- Page Content-->
            <div class="container px-5 my-5">
                <h1 class="display-3 fw-bolder text-center mb-5">
                    <a href="/" style="text-decoration: none; color: black">Event Management System</a></h1>
                <hr>
                <h1 class="fw-bolder mb-5 text-center"><span class="text-gradient d-inline"> Sold Event List </span></h1>

                <div class="row gx-5 justify-content-center">
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body">

                            <table class="table table-hover">
                                <!-- Table Header -->
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Is Active</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Tickets Available</th>
                                    <th scope="col">Category Id</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>

                                <!-- Table Content -->
                                <tbody>
                                <% for(let i=0;i<events.length;i++){ %>
                                    <% if (events[i].ticket == 0) { %>
                                        <tr>
                                            <td><%= events[i].id %></td>
                                            <td><%= events[i].name %></td>
                                            <td><%= events[i].start %></td>
                                            
                                            <td><%= events[i].end %></td>
                                            <td><%= events[i].duration %></td>
                                            <td><input type="checkbox" checked disabled/></td> 
                                            <td><%= events[i].capacity %></td>
                                            <td><%= events[i].ticket %></td>
                                            <td><%= events[i].catid %></td>
                                            
        
                                            <td><a type="button" class="btn btn-primary" href="/">View</a></td>
                                        </tr>
                                    
                                
                                <% } %>
                                <% } %>

                            
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>